
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Awesome Book store";
}

@Html.ActionLink("Search for a book by title", "Search", "Books")
<br />
@Html.ActionLink("List all books in the store", "Index", "Books")
<br />
<p>
    <a href="@Url.Action("logout", "auth")">Log Out</a>
</p>


