div.sharedaddy ul {
	list-style: none; margin: 0px; padding: 0px; border: currentColor;
}
div.sharedaddy li {
	list-style: none; margin: 0px; padding: 0px; border: currentColor;
}
div.sharedaddy {
	clear: both; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px;
}
#content div.sharedaddy {
	clear: both; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px;
}
#main div.sharedaddy {
	clear: both; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px;
}
div.sharedaddy {
	border-radius: 0px !important; -moz-border-radius: 0; -webkit-border-radius: 0;
}
div.sharedaddy div {
	border-radius: 0px !important; -moz-border-radius: 0; -webkit-border-radius: 0;
}
div.sharedaddy h3 {
	margin: 3px 0px; padding: 0px; border: currentColor; width: 15.62%; text-transform: none; line-height: 1; letter-spacing: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; float: left; position: static;
}
#content div.sharedaddy h3 {
	margin: 3px 0px; padding: 0px; border: currentColor; width: 15.62%; text-transform: none; line-height: 1; letter-spacing: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; float: left; position: static;
}
#main div.sharedaddy h3 {
	margin: 3px 0px; padding: 0px; border: currentColor; width: 15.62%; text-transform: none; line-height: 1; letter-spacing: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; float: left; position: static;
}
#primary div.sharedaddy h3 {
	margin: 3px 0px; padding: 0px; border: currentColor; width: 15.62%; text-transform: none; line-height: 1; letter-spacing: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; float: left; position: static;
}
.rtl div.sharedaddy h3 {
	text-align: right; float: right;
}
.rtl #content div.sharedaddy h3 {
	text-align: right; float: right;
}
.rtl #main div.sharedaddy h3 {
	text-align: right; float: right;
}
.rtl #primary div.sharedaddy h3 {
	text-align: right; float: right;
}
div.sharedaddy ul {
	margin: 0px !important; padding: 0px !important; text-indent: 0px;
}
div.sharedaddy li {
	margin: 0px !important; padding: 0px !important; text-indent: 0px;
}
div.sharedaddy li::before {
	content: "";
}
div.sharedaddy div.sharing-clear {
	margin: 0px !important; padding: 0px !important;
}
div.sharedaddy div.pd-rating {
	margin: 0px; min-height: 23px;
}
div.sharedaddy a {
	font-style: normal;
}
div.sharedaddy a:link {
	font-style: normal;
}
div.sharedaddy a:visited {
	font-style: normal;
}
div.sharedaddy::before {
	height: 0px; overflow: hidden; display: block; content: "\0020";
}
div.sharedaddy::after {
	height: 0px; overflow: hidden; display: block; content: "\0020";
}
div.sharedaddy .sd-block::before {
	height: 0px; overflow: hidden; display: block; content: "\0020";
}
div.sharedaddy .sd-block::after {
	height: 0px; overflow: hidden; display: block; content: "\0020";
}
div.sharedaddy ul::before {
	height: 0px; overflow: hidden; display: block; content: "\0020";
}
div.sharedaddy ul::after {
	height: 0px; overflow: hidden; display: block; content: "\0020";
}
div.sharedaddy::after {
	clear: both;
}
div.sharedaddy .sd-block::after {
	clear: both;
}
div.sharedaddy ul::after {
	clear: both;
}
div.sharedaddy {
	zoom: 1;
}
div.sharedaddy .sd-block {
	zoom: 1;
}
div.sharedaddy ul {
	zoom: 1;
}
div.sharedaddy div.sd-block {
	margin: 0px; padding: 10px 0px 5px; width: 100% !important; border-top-color: rgba(0, 0, 0, 0.13); border-top-width: 1px; border-top-style: solid;
}
div.sharedaddy-dark.sharedaddy .sd-block {
	border-top-color: rgba(50, 50, 50, 0.5);
}
div.sharedaddy .sd-content {
	margin: 0px; width: 82.12%; float: right;
}
.rtl div.sharedaddy .sd-content {
	float: right;
}
div.sharedaddy .sd-content ul {
	margin: 0px;
}
div.sharedaddy .sd-content li {
	margin: 0px 5px 5px 0px !important; float: left; display: block;
}
.rtl div.sharedaddy .sd-content li {
	margin: 0px 0px 5px 5px !important; float: right;
}
div.sharedaddy a.sd-button {
	background: rgb(239, 239, 239); margin: 0px; padding: 0px; border-radius: 3px; border: 1px solid rgb(221, 221, 221) !important; color: rgb(0, 0, 0) !important; line-height: 1; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; text-decoration: none; display: block; box-shadow: inset 0px 1px 0px #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
div.sharedaddy a.sd-button:hover {
	background: rgb(238, 238, 238); border-color: rgb(204, 204, 204); color: rgb(0, 0, 0); text-shadow: 0 1px 0 #fff;
}
div.sharedaddy a.sd-button:active {
	border-color: rgb(221, 221, 221); box-shadow: inset 0px -1px 0px #fff; background-color: rgb(239, 239, 239);
}
a.sd-button > span {
	padding: 4px 8px; line-height: 1; display: block; opacity: 0.8; text-shadow: none;
}
a.sd-button:hover span {
	opacity: 1;
}
.sd-button span.share-count {
	color: rgb(102, 102, 102); font-size: 90%; margin-left: 5px;
}
.rtl .sd-button span.share-count {
	margin-right: 5px;
}
.sd-social-icon-text a.sd-button > span {
	background-position: 2px; padding: 3px 5px 3px 23px; background-repeat: no-repeat;
}
a.sd-button > span {
	background-position: 2px; padding: 3px 5px 3px 23px; background-repeat: no-repeat;
}
.rtl .sd-social-icon-text a.sd-button > span {
	background-position: 98%; padding: 3px 23px 3px 5px;
}
.rtl a.sd-button > span {
	background-position: 98%; padding: 3px 23px 3px 5px;
}
.sd-social-icon a.sd-button > span {
	background-position: center; padding: 3px; width: 16px; height: 16px; text-indent: -9999px; background-repeat: no-repeat;
}
.sd-social-text a.sd-button > span {
	padding-left: 5px;
}
.rtl .sd-social-text a.sd-button > span {
	padding-right: 5px; padding-left: 0px;
}
.sd-social-official li {
	height: 21px;
}
div.sharedaddy .no-text {
	width: 21px; height: 21px;
}
div.sharedaddy .no-text a {
	text-decoration: none;
}
div.sharedaddy .no-icon a span {
	padding-left: 5px; background-image: none;
}
div.sharedaddy li.no-icon div a span {
	padding-left: 5px; background-image: none;
}
.rtl div.sharedaddy .no-icon a span {
	padding-right: 5px; padding-left: 0px;
}
.rtl div.sharedaddy li.no-icon div a span {
	padding-right: 5px; padding-left: 0px;
}
li.share-facebook a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-facebook.png");
}
li.share-tumblr a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-tumblr.png");
}
li.share-twitter a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-twitter.png");
}
li.share-linkedin a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-linkedin.png");
}
li.share-press-this a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-wordpress.png");
}
li.share-digg a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-digg.png");
}
li.share-stumbleupon a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-stumbleupon.png");
}
li.share-reddit a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-reddit.png");
}
li.share-pinterest a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/pinterest.png");
}
li.share-email a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-email.png");
}
li.share-print a.sd-button > span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-print.png");
}
a.share-more.sd-button span {
	background-image: url("/wp-content/mu-plugins/post-flair/sharing/images/icon-more.png");
}
div.sharedaddy .sd-content ul li.share-google-plus-1 {
	line-height: 90%; margin-bottom: 2px !important; min-height: 20px;
}
div.sharedaddy .sd-social-official .sd-content ul li.share-google-plus-1 {
	padding-top: 0px;
}
div.sharedaddy .sharing-hidden .inner {
	padding: 15px 15px 10px; border-radius: 3px !important; border: 1px solid rgb(204, 204, 204); margin-left: -100px; position: absolute; z-index: 1001; max-width: 250px; box-shadow: 0px 2px 8px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255); -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2); -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}
.rtl div.sharedaddy .sharing-hidden .inner {
	margin-right: -100px; margin-left: 0px;
}
div.sharedaddy-dark.sharedaddy .sharing-hidden .inner {
	border-color: rgb(34, 34, 34);
}
div.sharedaddy #wpl-likebox {
	padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important; margin-left: 0px !important;
}
#main div.sharedaddy #wpl-likebox {
	padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important; margin-left: 0px !important;
}
#content div.sharedaddy #wpl-likebox {
	padding-right: 0px !important; padding-left: 0px !important; margin-right: 0px !important; margin-left: 0px !important;
}
#wpl-likebox .sd-content {
	margin: 0px;
}
div.sharedaddy #wpl-button {
	margin: 0px 5px 0px 0px; float: left;
}
.rtl div.sharedaddy #wpl-button {
	margin: 0px 0px 0px 5px; float: right;
}
div.sharedaddy #wpl-count {
	margin: 0px; padding: 5px 0px; text-align: left; line-height: 1; font-size: 12px;
}
.rtl div.sharedaddy #wpl-count {
	text-align: right;
}
div.sharedaddy ul#wpl-avatars {
	margin: 0px -2px 0px 0px !important; overflow: hidden; padding-top: 10px !important;
}
#wpl-likebox {
	margin: 0px -2px 0px 0px !important; overflow: hidden; padding-top: 10px !important;
}
.rtl div.sharedaddy ul#wpl-avatars {
	margin: 0px 0px 0px -2px !important;
}
.rtl #wpl-likebox {
	margin: 0px 0px 0px -2px !important;
}
div.sharedaddy ul#wpl-avatars li {
	width: 32px; height: 32px;
}
div.sharedaddy ul#wpl-avatars li a {
	margin: 0px 2px 0px 0px; border-bottom-color: currentColor !important; border-bottom-width: medium !important; border-bottom-style: none !important;
}
div.sharedaddy ul#wpl-avatars li a img {
	margin: 0px !important; padding: 0px !important; border: currentColor; position: static;
}
div.sharedaddy #wpl-button a.sd-button > span {
	background: url("/wp-content/mu-plugins/post-flair/like/images/icon-like.png?2") no-repeat 2px; padding: 3px 5px 3px 20px; text-shadow: none;
}
.rtl div.sharedaddy #wpl-button a.sd-button > span {
	background-position: 38px; padding: 3px 20px 3px 5px;
}
div.sharedaddy #wpl-button a.liked.sd-button {
	background: rgb(254, 255, 206); border: 1px solid rgb(243, 227, 137); cursor: default; box-shadow: inset 0px 1px 0px #fff;
}
div.sharedaddy #wpl-button a.liked.sd-button span {
	opacity: 1;
}
#wpl-mustlogin {
	padding: 15px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); width: 312px; color: rgb(51, 51, 51); margin-left: -120px; position: absolute; z-index: 1001; box-shadow: 0px 2px 8px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255); text-shadow: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2); -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}
.rtl #wpl-mustlogin {
	margin-right: -120px; margin-left: 0px;
}
#wpl-mustlogin p {
	margin: 0px; color: rgb(51, 51, 51); text-shadow: none;
}
#wpl-mustlogin label {
	color: rgb(51, 51, 51); text-shadow: none;
}
#wpl-mustlogin a {
	color: rgb(51, 51, 51); text-shadow: none;
}
#wpl-mustlogin input[type='text'] {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); width: 98.5%; color: rgb(51, 51, 51); text-shadow: none;
}
#wpl-mustlogin input[type='password'] {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); width: 98.5%; color: rgb(51, 51, 51); text-shadow: none;
}
#wpl-mustlogin {
	background: rgb(240, 240, 240); padding: 10px; border-radius: 3px; line-height: 14px !important; clear: left; font-size: 11px; margin-top: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.rtl #wpl-mustlogin {
	clear: right;
}
#wpl-mustlogin p {
	margin: 5px 0px; padding: 0px;
}
#wpl-mustlogin input.input {
	background: rgb(255, 255, 255); padding: 2px; border: 1px solid rgb(204, 204, 204); line-height: 12px; font-family: inherit; font-size: 11px; -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
#wpl-mustlogin input#wp-submit {
	background: rgb(250, 250, 250); padding: 2px 4px !important; border-radius: 3px; border: 1px solid rgb(204, 204, 204); line-height: 12px; font-size: 11px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
#wpl-mustlogin label {
	position: relative; cursor: text;
}
#wpl-mustlogin label span {
	padding: 0px !important; left: 5px; top: 0px; position: absolute;
}
.rtl #wpl-mustlogin label span {
	left: auto; right: 5px;
}
#wpl-mustlogin label span {
	top: -10px;
}
div.sd-like-enabled.sharedaddy .sd-like h3 {
	display: none;
}
div.sd-like-enabled.sharedaddy .sd-like div.sd-content {
	width: 100%; float: none;
}
div.sd-rating-enabled.sharedaddy .sd-like h3 {
	display: block;
}
div.sd-rating-enabled.sharedaddy .sd-like div.sd-content {
	width: 82.12%; float: right;
}
.rtl div.sd-rating-enabled.sharedaddy .sd-like div.sd-content {
	float: left;
}
div.sd-sharing-enabled.sharedaddy .sd-like h3 {
	display: block;
}
div.sd-sharing-enabled.sharedaddy .sd-like div.sd-content {
	width: 82.12%; float: right;
}
.rtl div.sd-sharing-enabled.sharedaddy .sd-like div.sd-content {
	float: left;
}
#sharing_email {
	padding: 15px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); width: 312px; text-align: left; margin-left: -120px; position: absolute; z-index: 1001; box-shadow: 0px 2px 8px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255); -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2); -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}
.rtl #sharing_email {
	text-align: right; margin-right: -120px; margin-left: 0px;
}
div.sharedaddy-dark.sharedaddy #sharing_email {
	border-color: rgb(255, 255, 255);
}
#sharing_email .errors {
	margin: 10px 0px 0px; padding: 5px 8px; color: rgb(255, 255, 255); line-height: 11px; font-size: 11px; background-color: rgb(119, 26, 9);
}
#sharing_email label {
	padding: 0px 0px 4px; text-align: left; color: rgb(51, 51, 51); font-size: 11px; font-weight: bold; display: block; text-shadow: none;
}
.rtl #sharing_email label {
	text-align: right;
}
#sharing_email input[type='text'] {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); width: 98.5%; color: rgb(51, 51, 51); margin-bottom: 12px;
}
#sharing_email .sharing_send {
	
}
#sharing_email .sharing_cancel {
	padding: 0px 0px 0px 10px; font-size: 11px; text-shadow: none;
}
.rtl #sharing_email .sharing_cancel {
	padding: 0px 10px 0px 0px;
}
#sharing_email .recaptcha {
	margin: 10px 0px 14px; width: 312px; height: 123px;
}
div.sharedaddy #wpl-likebox {
	bottom: auto !important; position: static !important;
}
