a:link {
	color: rgb(2, 122, 198); text-decoration: none;
}
a:visited {
	color: rgb(2, 122, 198); text-decoration: none;
}
a:hover {
	color: rgb(0, 98, 160); text-decoration: underline;
}
a:active {
	color: rgb(88, 149, 190);
}
a.active {
	color: rgb(88, 149, 190);
}
.sticky h2 a {
	background: rgb(2, 122, 198); padding: 10px; color: white; display: block;
}
.sticky h2 a:hover {
	padding: 10px; color: rgb(2, 122, 198); display: block;
}
body {
	background: rgb(237, 245, 250); font: 12px/170% Verdana, Arial, Helvetica, sans-serif; margin: 0px; padding: 0px; color: rgb(73, 73, 73); font-size-adjust: none; font-stretch: normal;
}
body.sidebar-left #footer {
	margin-left: -210px;
}
body.sidebar-left #center {
	margin-left: -210px;
}
body.sidebar-left #squeeze {
	margin-left: 210px;
}
body.sidebar-right #center {
	margin-right: -210px;
}
body.sidebar-right #footer {
	margin-right: -210px;
}
body.sidebar-right #squeeze {
	margin-right: 210px;
}
body.sidebars #center {
	margin: 0px -210px;
}
body.sidebars #footer {
	margin: 0px -210px;
}
body.sidebars #squeeze {
	margin: 0px 210px;
}
dl {
	margin: 0.5em 0px 1em 1.5em;
}
dl.gallery-item {
	margin: 0px;
}
dl dd {
	margin: 0px 0px 0.5em 1.5em;
}
dl dt {
	
}
h1 {
	font-size: 170%;
}
h1 {
	margin: 0px; padding: 0px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;
}
h2 {
	margin: 0px; padding: 0px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;
}
h3 {
	margin: 0px; padding: 0px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;
}
h4 {
	margin: 0px; padding: 0px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;
}
h5 {
	margin: 0px; padding: 0px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;
}
h6 {
	margin: 0px; padding: 0px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;
}
h2 {
	line-height: 130%; font-size: 160%;
}
h3 {
	font-size: 140%;
}
h4 {
	font-size: 130%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 110%;
}
hr {
	background: rgb(82, 148, 193); margin: 0px; padding: 0px; border: currentColor; height: 1px;
}
img {
	border: currentColor;
}
a img {
	border: currentColor;
}
input {
	font: 12px/100% Verdana, Arial, Helvetica, sans-serif; color: rgb(73, 73, 73); font-size-adjust: none; font-stretch: normal;
}
p {
	margin: 0.6em 0px 1.2em; padding: 0px;
}
textarea {
	font: 12px/160% Verdana, Arial, Helvetica, sans-serif; color: rgb(73, 73, 73); font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/160% Verdana, Arial, Helvetica, sans-serif; color: rgb(73, 73, 73); font-size-adjust: none; font-stretch: normal;
}
.content ul {
	margin: 0.5em 0px 1em; padding: 0px;
}
.content ul li {
	margin: 0.4em 0px 0.4em 1.5em;
}
ul {
	margin: 0.5em 0px;
}
quote {
	margin: 0.5em 0px;
}
code {
	margin: 0.5em 0px;
}
fieldset {
	margin: 0.5em 0px;
}
ul.primary-links {
	margin: 0px; padding: 0px; float: right; position: relative; z-index: 4;
}
ul.primary-links li {
	margin: 0px; padding: 0px; float: left;
}
ul.primary-links li a {
	background: url("images/bg-navigation-item.png") no-repeat 50% 0px; margin: 0px 1em; padding: 0.75em 0px 10px; color: rgb(255, 255, 255); display: block;
}
ul.primary-links li a:link {
	background: url("images/bg-navigation-item.png") no-repeat 50% 0px; margin: 0px 1em; padding: 0.75em 0px 10px; color: rgb(255, 255, 255); display: block;
}
ul.primary-links li a:visited {
	background: url("images/bg-navigation-item.png") no-repeat 50% 0px; margin: 0px 1em; padding: 0.75em 0px 10px; color: rgb(255, 255, 255); display: block;
}
ul.primary-links li a:hover {
	background: url("images/bg-navigation-item-hover.png") no-repeat 50% 0px; color: rgb(255, 255, 255);
}
ul.primary-links li a.active {
	background: url("images/bg-navigation-item-hover.png") no-repeat 50% 0px; color: rgb(255, 255, 255);
}
#header li {
	position: relative;
}
#header .children .children {
	margin-left: 12px;
}
#header .sub-menu .sub-menu {
	margin-left: 12px;
}
#header ul ul {
	background: rgba(0, 4, 8, 0.9); padding: 0px; border: 1px solid rgba(255, 255, 255, 0.5); top: 32px; width: auto; text-align: right; right: 0px; float: left; display: none; position: absolute; z-index: 99999;
}
#header ul ul li {
	margin: 0px; padding: 0px; float: right;
}
#header ul ul a {
	margin: 0px; padding: 0.6em 1em; width: 130px;
}
#header ul ul ul {
	top: -0.6em; right: 100%;
}
#header ul li:hover > ul {
	display: block;
}
#header ul ul li a:hover {
	background: rgb(0, 0, 0);
}
#header ul ul li:hover > a {
	background: rgb(0, 0, 0);
}
#header ul ul li.current_page_item > a {
	background: rgb(0, 0, 0);
}
#header ul ul li.current_page_parent > a {
	background: rgb(0, 0, 0);
}
#header ul ul li.current_page_ancestor > a {
	background: rgb(0, 0, 0);
}
#header ul ul li.current-cat > a {
	background: rgb(0, 0, 0);
}
#header ul ul li.current-menu-ancestor > a {
	background: rgb(0, 0, 0);
}
#header ul ul li.current-menu-item > a {
	background: rgb(0, 0, 0);
}
#header ul ul li.current-menu-parent a {
	background: rgb(0, 0, 0);
}
.nextprev {
	margin-top: 10px; margin-bottom: 60px; display: block !important;
}
.alignleft {
	float: left;
}
.alignright {
	clear: both; float: right;
}
.image-navigation .alignright {
	clear: none; float: right;
}
object {
	max-width: 100%;
}
embed {
	max-width: 100%;
}
.commentlist {
	list-style: none; margin: 1em 0px 3em; padding: 0px;
}
.commentlist .thread-alt {
	background: rgb(237, 245, 250);
}
.commentlist .avatar {
	padding: 2px; border: 1px dotted rgb(204, 204, 204); margin-right: 25px; float: right;
}
.commentlist cite {
	font-weight: bold;
}
.commentlist li {
	list-style: none; padding: 1em 2em;
}
#respond label {
	font-size: 10px;
}
#respond input[type='text'] {
	margin-right: 6px; float: left;
}
#respond .comment-form-comment label {
	clear: right; display: none;
}
#respond .form-allowed-tags {
	display: none;
}
#respond .required {
	color: rgb(255, 75, 51); font-size: 10px; font-weight: bold; margin-left: 5px;
}
.menu {
	list-style: none; margin: 0px; padding: 0px;
}
.menu li.widget {
	margin-bottom: 1em;
}
.menu li li {
	background: url("images/menu-leaf.gif") no-repeat 0px 0.35em; padding: 0px 0px 0.3em 13px; list-style-type: none; list-style-image: none;
}
.item-list ul li {
	background: url("images/menu-leaf.gif") no-repeat 0px 0.35em; padding: 0px 0px 0.3em 13px; list-style-type: none; list-style-image: none;
}
li.leaf {
	background: url("images/menu-leaf.gif") no-repeat 0px 0.35em; padding: 0px 0px 0.3em 13px; list-style-type: none; list-style-image: none;
}
.links li {
	background: url("images/menu-leaf.gif") no-repeat 0px 0.35em; padding: 0px 0px 0.3em 13px; list-style-type: none; list-style-image: none;
}
.post {
	overflow: hidden; margin-bottom: 2em;
}
#header h1 {
	color: rgb(255, 255, 255); font-size: 1.5em; font-weight: normal; text-decoration: none; text-shadow: #1659ac 0px 1px 3px;
}
#header h1 a {
	color: rgb(255, 255, 255); font-size: 1.5em; font-weight: normal; text-decoration: none; text-shadow: #1659ac 0px 1px 3px;
}
#navigation {
	background: url("images/bg-navigation.png") repeat-x 50% 100%; height: 1em;
}
#s {
	margin-bottom: 5px;
}
#wrapper {
	background: url("images/body.png") repeat-x 50% 0px rgb(237, 245, 250); height: 600px;
}
#wrapper #container {
	margin: 0px auto; padding: 0px 20px; max-width: 1270px;
}
#wrapper #container #center {
	width: 100%; float: left;
}
#wrapper #container #center #squeeze {
	background: url("images/bg-content.png") repeat-x 50% 0px rgb(255, 255, 255);
}
#wrapper #container #center .right-corner {
	background: url("images/bg-content-right.png") no-repeat 100% 0px; left: 10px; position: relative;
}
#wrapper #container #center .right-corner .left-corner {
	background: url("images/bg-content-left.png") no-repeat 0px 0px; padding: 60px 25px 5em 35px; left: -10px; margin-left: -10px; position: relative; min-height: 400px;
}
#wrapper #container #footer {
	margin: 4em 0px -3em; text-align: center; color: rgb(137, 137, 137); clear: both; float: none;
}
#wrapper #container #header {
	height: 80px;
}
#wrapper #container #header #logo-floater {
	position: absolute;
}
#wrapper #container #header h1 {
	line-height: 120px; font-weight: bold; white-space: nowrap; position: relative; z-index: 2;
}
#wrapper #container #header h1 a:link {
	line-height: 120px; font-weight: bold; white-space: nowrap; position: relative; z-index: 2;
}
#wrapper #container #header h1 a:visited {
	line-height: 120px; font-weight: bold; white-space: nowrap; position: relative; z-index: 2;
}
#wrapper #container .sidebar {
	margin: 60px 0px 5em; width: 208px; float: left; z-index: 2;
}
body > #wrapper #container .sidebar {
	position: relative;
}
#sidebar-left li {
	margin-right: 10px;
}
#sidebar-right ul {
	margin-left: 20px;
}
#sidebar-right li ul {
	margin-left: 0px;
}
.sidebar a {
	word-wrap: break-word;
}
.sidebar ul {
	padding: 0px; margin-left: 0px;
}
.content img {
	margin-left: 10px;
}
#comment {
	width: 400px;
}
img.centered {
	margin-right: auto; margin-left: auto; display: block;
}
img.aligncenter {
	margin-right: auto; margin-left: auto; display: block;
}
img.alignright {
	margin: 0px 0px 2px 7px; padding: 4px; display: inline;
}
img.alignleft {
	margin: 0px 7px 2px 0px; padding: 4px; display: inline;
}
.aligncenter {
	margin-right: auto; margin-left: auto; display: block;
}
div.aligncenter {
	margin-right: auto; margin-left: auto; display: block;
}
.wp-caption {
	margin: 10px; border-radius: 3px; border: 1px solid rgb(221, 221, 221); text-align: center; padding-top: 4px; background-color: rgb(243, 243, 243); -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
}
.wp-caption img {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
.wp-caption p.wp-caption-text {
	margin: 0px; padding: 0px 4px 5px; line-height: 17px; font-size: 11px;
}
.meta {
	clear: both;
}
