@model List<BookInfo.Models.Author>

<!DOCTYPE html>

<html>
<head>
    <title>Author List</title>
</head>
<body>
    <h1>List of Authors</h1>
    @foreach(var a in Model)
    {
        @:Name: @a.Name <br />
        @:Birthday: @a.Birthday.ToString("MMMM dd, yyyy") <br /><br />
    }
</body>

</html>