<!DOCTYPE html>
<html>
<head>
    <title>Book Info</title>
</head>
<body>
    <h1>Book Information</h1>
    <br />
    @Html.ActionLink("Show all books", "Index", "Book")<br />
    @Html.ActionLink("Show all authors", "Authors", "Home") @*Later, this should be in an AuthorController *@
</body>
</html>
